.main {
  height: 200px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.main_title {
  color: white;
}
.categories__title{
  color: white;
  font-size: 16px;
  position: absolute;
  padding-left: 10px;
  width: 100%;

}
.input {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 25px;
  color: white;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  height: 45px;
  padding: 0px 20px;
  width: 70%;
  outline: none;
}
.input::placeholder {
  color: white;
}
.carousel {
  width: 100%;
  overflow: auto;
  padding: 30px;
  position: relative;
}
.carousel_container {
  white-space: nowrap;
  margin: 70px 0px;
  padding-bottom: 10px;
}
.carousel_item {
  background-color: violet;
  width: 200px;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
  margin-right: 10px;
  cursor: pointer;
  display: inline-block;
  transition: 450ms all;
  transform-origin: center left;
  position: relative;
}
.carousel_item:hover ~ .carousel_item {
  transform: translate3d(100px, 0, 0);
}

.carousel_container:hover .carousel_item {
  opacity: 0.3;
}
.carousel_container:hover .carousel_item:hover {
  transform: scale(1.5);
  opacity: 1;
}
.carousel_item_img {
  width: 200px;
  height: 250px;
  object-fit: cover;
}
.carousel_item_details {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  font-size: 10px;
  opacity: 0;
  transition: 450ms opacity;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.carousel_item_details img {
  height: 15px;
}
.carousel_item_details p {
  margin: 0px;
}
.carousel_item_details:hover {
  opacity: 1;
  color: white;
}
