.login {
  background-color: #47597e;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 30px;
  min-height: calc(100vh - 200px);
}
.login_container {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 40px;
  color: white;
  padding: 60px 68px 40px;
  min-height: 700px;
  width: 300px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.login_container_form {
  display: flex;
  flex-direction: column;
}
.login_container_form label {
  font-size: 14px;
}
.login_container_remember_me {
  color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.login_container_remember_me a {
  color: white;
  font-size: 14px;
  text-decoration: none;
}
.login_container_remember_me:hover a {
  text-decoration: underline;
}
.login_container_social_media > div {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 10px;
}
.login_container_social_media > div > img {
  height: 20px;
  margin-right: 10px;
}
.login_container--register {
  font-size: 14px;
}
.login_container--register a {
  font-size: 14px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.login_container--register:hover a {
  text-decoration: underline;
}
.inputs {
  background-color: transparent;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 2px solid white;
  font-size: 16px;
  font-family: "Mulish", sans-serif;
  margin-bottom: 20px;
  padding: 0px 20px;
  outline: none;
  height: 50px;
}
.inputs::placeholder {
  color: white;
}
.button {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-family: "Mulish", sans-serif;
  height: 50px;
  letter-spacing: 1px;
  margin: 10px 0px;
}
.footer {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: 47597e;
}
.footer a {
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
  text-decoration: none;
}
.footer:hover a {
  text-decoration: underline;
}
